<footer id="footer">
    <div class="page-footer font-small special-color-dark pt-4">
        <ul class=" social">
            <li class="list-inline-item fb"><a class="btn-floating mx-1"
                    href="https://www.facebook.com/profile.php?id=100009207184261"><i class="fab fa-facebook-f">
                    </i></a></li>
            <li class="list-inline-item tw"><a class="btn-floating mx-1" href="https://twitter.com/nolankurylo"><i
                        class="fab fa-twitter">
                    </i></a></li>
            <li class="list-inline-item li"><a class="btn-floating mx-1"
                    href="https://www.linkedin.com/in/nolan-kurylo-03bb2a154/"><i class="fab fa-linkedin-in"> </i></a>
            </li>
            <li class="list-inline-item gi"><a class="btn-floating mx-1" href="https://github.com/nolankurylo"><i
                        class="fab fa-github"></i></a></li>
        </ul>
    </div>
</footer>