@media only screen and (min-width: 768px) {
    $base: 50px;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }


    .crumb-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        min-width: 480px;
        padding: 0 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 145px !important;
        width: 60%;
        
    }

    .crumb {
        display: flex;
        border-radius: 6px;
        overflow: hidden;
        margin: auto;
        text-align: center;
        top: 50%;
        width: 100%;
        height: $base * 1.5;
        transform: translateY(-50%);
        box-shadow: 0 0px 1px rgba(0, 0, 0, 1),
            0 4px 14px rgba(0, 0, 0, 0.7);
        z-index: 1;
        background-color: #ddd;
        font-size: 14px;
    }

    .crumb a {
        position: relative;
        display: flex;
        flex-grow: 1;
        text-decoration: none;
        margin: auto;
        height: 100%;
        padding-left: $base;
        padding-right: 0;
        color: #666;
    }
   
    

    .crumb a:first-child {
        padding-left: $base / 2.5;
    }

    .crumb a:last-child {
        padding-right: $base / 2.5;
    }

    .crumb a:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: $base * 1.5;
        height: $base * 1.5;
        top: 0;
        right: $base / 1.35 * -1;
        background-color: #ddd;
        border-top-right-radius: 5px;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
    

    .crumb a:last-child:after {
        content: none;
    }

    .breadcrumb__inner {
        display: flex;
        flex-direction: column;
        margin: auto;
        z-index: 2;
    }

    .breadcrumb__title {
        font-weight: bold;
        font-size: 12pt;
    }

    .crumb a.active,
    .crumb a:hover {
        background: #AFAFAF;
        color: white !important;
    }

    .crumb a.active:after,
    .crumb a:hover:after {
        background: #AFAFAF;
        color: white;
    }


    .crumb a.active:hover {
        background: rgb(145, 145, 145);
        color: white;
    }

    .crumb a.active:hover:after,
    .crumb a:hover:after {
        background: rgb(145, 145, 145);
        color: white;
    }

    // 1000px
    ///////////////////////
    @media all and (max-width: 1000px) {
        .crumb {
            font-size: 12px;
        }
    }

    // 710px
    ///////////////////////
    @media all and (max-width: 710px) {
        .breadcrumb__desc {
            display: none;
        }

        .crumb {
            height: $base;
        }

        .crumb a {
            padding-left: $base / 1.5;
        }

        .crumb a:after {
            content: "";
            width: $base * 1;
            height: $base * 1;
            right: $base / 2 * -1;
            transform: scale(0.707) rotate(45deg);
        }
    }

    .two-is-active {
        & .section-one {
            width: 40%;
        }

        & .section-two {
            width: 60%;
        }
    }



    .section-container {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .section-one {
        width: 100%;
        float: left;
        position: relative;
        z-index: 1;
        transition: width 0.5s;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .section-two {
        width: 0%;
        float: left;
        height: 100%;
        position: relative;
        z-index: 1;
        transition: width 0.5s;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    .content {
        padding: 20px;
        color: #292929;
        text-align: center;
        
        
    }
    .content-text{
        width: 600px;
        text-align: left; 
    }
}

@media only screen and (max-width: 768px) {
    .section-one{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .section-two{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .section-container{
        margin-bottom: 50px;
    }
    .content-text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}






// Basic Button Style
.btn-github-link {
  
  appearance: none;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 1.2em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}



.third {
  border-color: #292929;
  color: #fff;
  box-shadow: 0 0 40px 40px #292929 inset, 0 0 0 0 #292929;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 #292929 inset, 0 0 10px 4px #292929;
    color: #292929;
  }
}


