@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .crumb-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 480px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px !important;
    width: 60%;
  }
  .crumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 75px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 0 1px 1px black, 0 4px 14px rgba(0, 0, 0, 0.7);
            box-shadow: 0 1px 1px black, 0 4px 14px rgba(0, 0, 0, 0.7);
    z-index: 1;
    background-color: #ddd;
    font-size: 14px;
  }
  .crumb a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-decoration: none;
    margin: auto;
    height: 100%;
    padding-left: 50px;
    padding-right: 0;
    color: #666;
  }
  .crumb a:first-child {
    padding-left: 20px;
  }
  .crumb a:last-child {
    padding-right: 20px;
  }
  .crumb a:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 75px;
    height: 75px;
    top: 0;
    right: -37.03704px;
    background-color: #ddd;
    border-top-right-radius: 5px;
    -webkit-transform: scale(0.707) rotate(45deg);
            transform: scale(0.707) rotate(45deg);
    -webkit-box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
            box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .crumb a:last-child:after {
    content: none;
  }
  .breadcrumb__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    z-index: 2;
  }
  .breadcrumb__title {
    font-weight: bold;
    font-size: 12pt;
  }
  .crumb a.active,
  .crumb a:hover {
    background: #E1A87A;
    color: white !important;
  }
  .crumb a.active:after,
  .crumb a:hover:after {
    background: #E1A87A;
    color: white;
  }
  .crumb a.active:hover {
    background: #dfb999;
    color: white;
  }
  .crumb a.active:hover:after,
  .crumb a:hover:after {
    background: #dfb999;
    color: white;
  }
  .two-is-active .section-one {
    width: 40%;
  }
  .two-is-active .section-two {
    width: 60%;
  }
  .section-container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .section-one {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .section-one:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .section-two {
    width: 0%;
    float: left;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .section-two:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .content {
    padding: 20px;
    color: #292929;
    text-align: center;
  }
  .content-text {
    width: 600px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .section-one {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-two {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .section-container {
    margin-bottom: 50px;
  }
  .content-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */